NEXT_PUBLIC_PINATA_JWT=
NEXT_PUBLIC_API_URL=
https://fairpass.onrender.com/api
# API Key: 
# API Secret: 
JWT_SECRET=
MONGODB_URI=


# Sonic Testnet (enabled by default)
NEXT_PUBLIC_ENABLE_TESTNETS=true

# Sonic Testnet Configuration
NEXT_PUBLIC_SONIC_RPC_URL=https://rpc.testnet.soniclabs.com

# Contract Addresses (Deployed to Sonic testnet)
NEXT_PUBLIC_EVENT_FACTORY_ADDRESS=0x9016F1b7DA5C91d6479aAF99A8765Cb4ED0668bE


# Optional: Sonic API Key for contract verification
NEXT_PUBLIC_SONIC_API_KEY=
