NEXT_PUBLIC_PINATA_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlMWVkYzcyMS1iMTgxLTRiNTktODhjYy1lYTZjZWY3YWE3YWMiLCJlbWFpbCI6ImZhYmlvbXVnaGlsYW5AZ21haWwuY29tIiwiZW1haWxfdmVyaWZpZWQiOnRydWUsInBpbl9wb2xpY3kiOnsicmVnaW9ucyI6W3siZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiRlJBMSJ9LHsiZGVzaXJlZFJlcGxpY2F0aW9uQ291bnQiOjEsImlkIjoiTllDMSJ9XSwidmVyc2lvbiI6MX0sIm1mYV9lbmFibGVkIjpmYWxzZSwic3RhdHVzIjoiQUNUSVZFIn0sImF1dGhlbnRpY2F0aW9uVHlwZSI6InNjb3BlZEtleSIsInNjb3BlZEtleUtleSI6ImU5ZjJiYzY2ODQ0MzU1MzE0OTEwIiwic2NvcGVkS2V5U2VjcmV0IjoiN2ZjNTk5MTk5MDE0ZDU0ZjIzYjk4NzJiM2ZiMWNlMGVlN2I0ZjZlODc1ODQwMDFhNGI4YTM4ZTUxODRmYTg4NCIsImV4cCI6MTc4NzkwNTIwMH0.u4PU_WehXVzlE1xOTp-NPqpBCTciE5KglPhPzg6RUzM"
NEXT_PUBLIC_API_URL=https://fairpassbackend.vercel.app/api
# API Key: e9f2bc66844355314910
# API Secret: 7fc599199014d54f23b9872b3fb1ce0ee7b4f6e87584001a4b8a38e5184fa884
JWT_SECRET=2285f83f8bf109c699ca2f6f497171fd9af36b8fd3db4351d81209f88207970c
MONGODB_URI=mongodb://localhost:27017/fairpass


# Sonic Testnet (enabled by default)
NEXT_PUBLIC_ENABLE_TESTNETS=true

# Sonic Testnet Configuration
NEXT_PUBLIC_SONIC_RPC_URL=https://rpc.testnet.soniclabs.com

# Contract Addresses (Deployed to Sonic testnet)
NEXT_PUBLIC_EVENT_FACTORY_ADDRESS=0x9016F1b7DA5C91d6479aAF99A8765Cb4ED0668bE


# Optional: Sonic API Key for contract verification
NEXT_PUBLIC_SONIC_API_KEY=VTEYX6QC2DB9X3T94YW3VRVYI3W4V71TXG